.body {
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 60% 1fr 10%;
    background-image: url(fone.jpg);
    background-size: cover;
    height: 100vh;
    
}
.form{
    background-color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 450px;
    height: 80vh;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
#yourName,
#email,
#userName,
#password,
#password2{
    margin: 5%;
    width: 370px;
} 

#button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(48, 174, 212);
}
#button:hover{
    background-color:rgb(48, 174, 212, 0.5);
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }